{% for key,info in data %}
    <ul>
        <li>
            {{ key }}  {{ info }}
        </li>
    </ul>
{% endfor %}

<div class="user-dashboard-alias">
    <a class="btn" href="{{ path('orderManagement') }}">gérer les commandes</a>
    <a class="btn" href="{{ path('arrivalToValidate', { 'filter1': 'mes-entrepots','filter2' : app.user.id }) }}">gérer les arrivages</a>
</div>
