
<div class="user-dashboard-alias">
    <a class="btn" href="{{ path('arrival') }}">nouvel arrivage</a>
    <a class="btn" href="{{ path('orderList') }}">préparer commande</a>
    <a class="btn" href="{{ path('backorderList') }}">préparer reliquat</a>
</div>