
<li><a href="{{ path('productList') }}"><i class="material-icons">local_bar</i></a></li>
<li><a href="#"><i class="material-icons">attach_money</i></a></li>
<li><a href="{{ path('logout')}}" class="logout"><i class="material-icons">input</i></a></li>

