<li><a href="{{ path('deliverymanList') }}"><i class="material-icons">person</i>Livreurs</a></li>
<li><a href="{{ path('orderList') }}"><i class="material-icons">local_shipping</i>Commandes</a></li>
<li><a href="{{ path('backorderList') }}"><i class="material-icons">local_shipping</i>Relicats</a></li>
<li><a href="{{ path('logout')}}" id="logout"><i class="material-icons">input</i>Se déconnecter</a></li>