<li><a href="{{ path('productList') }}"><i class="material-icons">local_bar</i>Produit</a></li>
<li><a href="{{ path('customerList') }}"><i class="material-icons">monetization_on</i>Clients</a></li>
<li><a href="{{ path('orderList') }}"><i class="material-icons">attach_money</i>Commande</a></li>
<li><a href="{{ path('logout')}}" id="logout"><i class="material-icons">input</i>Se déconnecter</a></li>

