/*------------------------------wrapper---------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.form-container{
    margin-top: 5rem;
}

h1{
    text-align: center;
}