/*------------------------------wrapper---------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer{
    margin-top: 3rem;
}

.form-container{
    margin-top: 5rem;
}

h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2{
    text-align: center;
}

.create-entity-large{
    margin-top: 3rem;

}

.create-entity-large a{
    width: 100%;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
    position: relative;
    opacity: 1;
}

a.validate-link{
    color: #51c062;
}

a.reject-link{
    color: #ff4f3d;
}