
.color-main-lighten{
   background-color:  #5c6bc0;
}
/*------------------------------wrapper---------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer{
    margin-top: 3rem;
}

.form-container{
    margin-top: 5rem;
}

h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #9fa8da;;
}

h2{
    text-align: center;
}


/*--------------------------elements---------------------------*/

    /*--------------------------nav----------------------------*/

    #nav-menu{
        position: absolute;
        top: 4.2rem;
        right: 0;
        flex-flow: column;
        border: 1px solid  #5c6bc0;
        width: 300px;
        background: #FFFFFF;
        display: none;
    }

    #nav-menu li:not(:last-child){
        border-bottom: 1px solid  #5c6bc0;
    }

    #nav-menu li,
    #nav-menu a,
    #nav-menu i{
        line-height: 40px;
        height: 40px;
    }

    #nav-menu i,
    #nav-menu a{
        color: #5c6bc0;
    }

    #nav-menu i{
        display: inline-flex;
        vertical-align: top;
        padding-right: 2rem;
    }


    /*--------------------------table---------------------------*/

    .table-container{
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .table-container h4{
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .paid{
        background-color: rgba(92, 183, 93, 0.47);
    }

    .assembling {
        background-color: rgba(92, 183, 93, 0.63);
    }

    .to-collect{
        background-color: rgba(92, 183, 93, 0.72);
    }

    .pending-delivery{
        background-color: rgba(92, 183, 93, 0.8);
    }

    .delivering{
        background-color: rgba(92, 183, 93, 0.87);
    }

    .delivered{
        background-color: rgba(93, 185, 93, 1);
    }

    /*--------------------------buttons/links---------------------------*/

    .dashboard-link{
        text-align: center;
    }

    .user-dashboard-alias .btn{
        background-color: #9fa8da;
        color: #FFFFFF;
    }

    .create-entity-large .btn{
        margin-top: 3rem;

    }

    .create-entity-large a{
        width: 100%;
    }

    .create-entity-large .btn {
        background-color:  #9fa8da;
    }

    a.validate-link,
    .material-icons.done,
    .material-icons.alert-none{
        color: #51c062;
    }

    a.reject-link,
    .material-icons.close,
    .material-icons.alert-warning{
        color: #ff4f3d;
    }

    .contact-info:hover{
        background-color: #ffebee;
    }

    .form-container .btn{
        background-color: #9fa8da;
    }

    button.btn.add-another-collection-widget{
        border: solid 1px #9fa8da;
        background-color: transparent;
    }

    button.add-another-collection-widget i{
        color: #9fa8da;
    }

    .full-width-submit{
        width: 100%;
        margin-top: 3rem;
    }

    a.disable{
        pointer-events: none;
        display: none;
    }

    /*--------------------------form---------------------------*/

    /*--------------------------login---------------------------*/

    #loginForm{
        margin-top: 10rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #loginForm .send-form{
        margin-top: 5rem;
        text-align: center;
    }

    #loginForm .send-form .btn{
        width: 100%;
    }

    /*--------------------------create user---------------------------*/

    #create_user_role{
        margin-top: 1rem;
    }

    #create_user_warehouses input[type="checkbox"]{
        margin-right: 0.5rem;
        margin-top: 2rem;
    }

    #create_user_warehouses input[type="checkbox"]:last-of-type{
        margin-left: 1rem;
    }

    /*--------------------------create order---------------------------*/

    #create_order_customer{
        width: 80%;
    }

    #ordered-for a{
        float: right;
        margin-top: -2.8rem;
    }


        /*--------------------------select----------------------------*/

        .secondary-content form{
            width: 20rem;
        }

        .secondary-content form select{
            height: unset;
        }

        /*--------------------------checkbox---------------------------*/

        .checkbox-control{
            margin-top: 2rem;
        }

        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked{
            position: relative;
            opacity: 1;
            pointer-events: fill;
        }

        /** ------------------------ dashboard card ----------------------- **/

        .card-holder{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .dashboard-card{
            width: 360px;
            min-width: 300px;
            -webkit-box-shadow: 1px 1px 1px 1px rgba(130,130,130,1);
            -moz-box-shadow: 1px 1px 1px 1px rgba(130,130,130,1);
            box-shadow: 1px 1px 1px 1px rgba(130,130,130,1);
            height: 150px;
            margin-bottom: 2rem;

        }

        .circle{
            height: 100px;
            -moz-border-radius:75px;
            -webkit-border-radius: 75px;
            width: 100px;
            position: relative;
            top: 1.5rem;
            left: 1rem;
        }

        .circle-1{
            background-color: #f59d40;
        }

        .circle-2{
            background-color: #c6ffb3;
        }

        .circle-3{
            background-color: #70bef0;
        }

        .circle-4{
            background-color: #ee6e73;
        }

        .circle-5{
            background-color: #ee84d9;
        }

        .circle-6{
            background-color: #f4f075;
        }

        .circle-7{
            background-color: #9ef4e4;
        }

        .dashboard-card i {
            text-align: center;
            position: relative;
            font-size: 3rem;
            color: #FFFFFF;
            top: 1.5rem;
        }

        .dashboard-card .fa-exclamation{
            left: 2.8rem;
        }

        .dashboard-card .fa-user{
            left: 1.7rem;
        }

        .dashboard-card .fa-beer {
            left: 2.1rem;
        }

        .dashboard-card .fa-dollar-sign{
            left: 2.3rem;
        }

        .dashboard .fa-chart-line{
            left: 1.7rem;
        }

        .card-data{
            width: 230px;
            float: right;
            margin-top: -4rem;
            padding-right: 1rem;
            text-align: right;
            font-size: 0.9rem;
        }

        .data{
            font-size: 2rem;
            font-weight: 900;
        }

        .data-text{
            position: relative;
            top: -75px;
            font-size: 1rem;
            float: left;
        }