{% extends 'base.html.twig' %}

    {% block body %}
        <h1>{{ app.request.get('_route')|title }}</h1>

        <div class="card-holder">
            {% for key,info in data %}
                <div class="dashboard-card">
                    <div class="circle circle-{{ loop.index }}">
                        <i class="fas fa-exclamation"></i>
                    </div>
                    <div class="card-data">
                        <p class="data">{{ info }}</p>
                        <p class="data-text">{{ key }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="dashboard-link">
            {% include 'userDashboard/' ~ app.user.role|lower ~ '_dashboard.html.twig'  %}
        </div>


    {% endblock %}