{% extends 'base.html.twig' %}

    {% block body %}
        <h1>{{ app.request.get('_route')|title }}</h1>
        <div class="container">
          {% for key,info in data %}
              <ul>
                  <li>
                    {{ key }}  {{ info|length }}
                  </li>
              </ul>
            {% endfor %}
        </div>
    {% endblock %}